<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3" parallel="classes">
    <test verbose="2" preserve-order="true"
          name="H:/SQA Project/Automation01/Automation_on_Rokomari.com/src/test/java/testcases">
        <classes>
            <class name="testcases.TestCheckOut">
                <methods>
                    <include name="testCheckOutAuto"/>
                </methods>
            </class>
            <class name="testcases.TestProductPage">
                <methods>
                    <include name="testRokomariFilterAndPages"/>
                </methods>
            </class>
            <class name="testcases.TestSignIn">
                <methods>
                    <include name="testWithValidCredentials"/>
                    <include name="testWithNULLInput"/>
                    <include name="testWithInvalidEmail"/>
                    <include name="testWithValidEmailInvalidOTP"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>